<ion-header>
  <ion-toolbar>
    <ion-title>
      {{params.type === 'dic' ? '辞書一覧' : 'リスト一覧'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  fullscreen>
  <ion-item *ngIf="params.type === 'list'" button (click)="openAddList()">
    <div class="position-block-center">リスト追加
      <ion-icon name="add-circle-outline"></ion-icon>
    </div>
  </ion-item>
  <ion-list>
    <ng-container *ngFor="let list of params.lists">
    <ion-nav-link *ngIf="storyCount(list.children) || (params.type === 'dic'); else notNav" [component]="nextPage" [componentProps]="{'children': list.children, 'listId': list.listId}" routerDirection="forward">
      <ion-item button>
        <ion-label>
          {{list.name}}
        </ion-label>
        <!-- <ion-badge *ngIf="params.type === 'list'" color="drafts" slot="end">{{storyCount(list.children)}}</ion-badge> -->
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-nav-link>

    <ng-template #notNav>
        <ion-item (click)="presentToast(list.listId)">
          <ion-label>
            {{list.name}}
          </ion-label>
        </ion-item>
    </ng-template>
    
  </ng-container>
  </ion-list>
</ion-content>
