<ion-header>
  <ion-toolbar>
    <ion-title>
      {{params.type === 'dic' ? '辞書一覧' : 'リスト一覧'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  fullscreen>
  <ion-item *ngIf="params.type === 'list'" button (click)="openAddList()">
    <div class="position-block-center">リスト追加
      <ion-icon name="add-circle-outline"></ion-icon>
    </div>
  </ion-item>
  <ion-list>
    <ng-container *ngFor="let list of params.lists" [ngSwitch]="listSwitch(list)">

    <ion-nav-link *ngSwitchDefault [component]="nextPage" [componentProps]="{'children': list.children, 'name': list.name, 'listId': list.listId}" routerDirection="forward">
      <ion-item button>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
        <ion-label>
          {{list.name}}
        </ion-label>
        <!-- <ion-badge *ngIf="params.type === 'list'" color="drafts" slot="end">{{storyCount(list.children)}}</ion-badge> -->
      </ion-item>
    </ion-nav-link>

      <ion-item *ngSwitchCase="'description'" button (click)="navigateShow()">
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
        <ion-label>
          {{list.name}}
        </ion-label>
      </ion-item>

      <ion-item *ngSwitchCase="'noList'" button (click)="presentAlert(list.name, list.listId)">
        <ion-label>
          {{list.name}}
        </ion-label>
      </ion-item>
    
  </ng-container>
  </ion-list>
</ion-content>
