<ion-header>
  <ion-toolbar style="--border-width: 0; --min-height: 0"></ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding-top">
    <ion-button size="small" fill="clear" type="submit" shape="round" routerLink="/auth/login">始める</ion-button>
  </div>
  <div class="ion-text-center ion-padding-top">
    <ion-button size="small" fill="clear" type="submit" shape="round" routerLink="/home/policy">プライバシーポリシー</ion-button>
  </div>
  <div class="ion-text-center ion-padding-top">
    <ion-button size="small" fill="clear" type="submit" shape="round" routerLink="/home/term">利用規約</ion-button>
  </div>
</ion-content>
