<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backwardTimeline()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>show</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="page; else loading">
  <ion-item>
    {{story.user.displayName}}
    {{story.story}}
    {{story.prefecture}}
    {{story.category}}
    {{story.harassment}}
  </ion-item>
  <ng-container *ngIf="story.type === '相談' && !checkDeadline(story.deadline); else deadline">
    <ion-item>
      回答期日:{{story.deadline | date: 'yyyy-MM-dd HH:mm'}}
    </ion-item>
    <ion-item button>
      ベストアンサーを決める
    </ion-item>
    <form #f="ngForm">
      <ion-item>
        <ion-label position="stacked">回答受付中</ion-label>
        <ion-textarea name="answer" [(ngModel)]="answer" rows="7" placeholder="回答を記入" maxlength="500" minlength="1" [disabled]="story.user.uid===uid" required></ion-textarea>
      </ion-item>
    </form>
    <div class="position-flex-center">
      <ion-button (click)="postAnswer()" [disabled]="!f.form.valid || story.user.uid===uid">回答を送る</ion-button>
    </div>
  </ng-container>
  <ion-list *ngIf="(story.type === '相談' || '解決済み') && (answers)">
    <ion-item *ngFor="let a of answers">
      {{a.user.displayName}}
      <ls-editable-text #answer [(value)]="a.answer" [editDisabled]="checkDeadline(story.deadline)" (changeValue)="update($event, a.answerId)"></ls-editable-text>
      <div class="action-list">
        <ion-button stopPropagation *ngIf="a.user.uid===uid && !checkDeadline(story.deadline)" color="medium" fill="clear" (click)="openDeleteAlert(storyId, a.answerId)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ng-template #deadline>
  <ion-item>
    回答は終了しました。
  </ion-item>
</ng-template>


<ng-template #loading>
  <ion-content>
    <div>  
      <ion-list>
        <ion-list-header>
          <ion-label>
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ng-template>