<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalDismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>プロフィール</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="updateProfile()"
      [disabled]="!f.form.valid || (!photo && !this.user.photoDataUrl)">
        登録
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding">
    <ion-avatar style="display: inline-block;">
      <img [src]="photo || user.photoDataUrl || '/assets/shapes.svg'">
    </ion-avatar>
  </div>
  <div class="ion-text-center">
    <ion-button fill="clear" size="small" (click)="takePicture()">
      画像変更
    </ion-button>
  </div>

  <form #f="ngForm">
    <ion-list class="ion-padding">
      <ion-item>
        <ion-label position="stacked">ユーザID</ion-label>
        <ion-input type="text" [value]="uid" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"><span class="label required">必須</span>表示名</ion-label>
        <ion-input type="text" [(ngModel)]="user.displayName" name="displayName" disabled="{{nowDisplayName}}" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>所在地(都道府県)<ion-button class="color-initial" size="small" fill="clear" (click)="openPrefectureHelp()"><ion-icon name="help-circle-outline"></ion-icon></ion-button></ion-label>
        <ion-select interface="popover" placeholder="未設定" [(ngModel)]="user.prefecture" name="prefecture">
          <ion-select-option *ngFor="let p of prefectures" [value]="p.name">{{p.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-radio-group name="gender" [(ngModel)]="user.gender">
          <ion-list-header>
            <ion-label>性別</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>男性</ion-label>
            <ion-radio slot="start" value="男性"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>女性</ion-label>
            <ion-radio slot="start" value="女性"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>その他</ion-label>
            <ion-radio slot="start" value="その他"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>無回答</ion-label>
            <ion-radio slot="start" value="無回答"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">一言プロフィール</ion-label>
        <ion-textarea [(ngModel)]="user.profile" name="profile" required></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
