<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalDismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ハラスメント事案</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="postStory()" [disabled]="!f.form.valid">
        {{editMode ? '修正' : '投稿'}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form #f="ngForm">
    <ion-list class="ion-padding">
      <ion-item>
        <ion-label position="stacked">投稿内容</ion-label>
        <ion-textarea name="story" [(ngModel)]="postData.story"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>性別</ion-label>
        <ion-input type="text" [value]="postData.user.gender" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-radio-group name="type" [(ngModel)]="postData.type" required>
          <ion-list-header>
            <ion-label>投稿モード</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>閲覧のみ</ion-label>
            <ion-radio slot="start" value="閲覧のみ"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>相談</ion-label>
            <ion-radio slot="start" value="相談"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <ion-item>
        <ion-label>都道府県</ion-label>
        <ion-select interface="popover" placeholder="未設定" [(ngModel)]="postData.prefecture" name="prefecture" required>
          <ion-select-option *ngFor="let p of prefectures" [value]="p.name">{{p.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>カテゴリー</ion-label>
        <ion-select interface="popover" placeholder="未設定" (ionChange)="setHarassmentsFromName(postData.category); resetHarassment()" [(ngModel)]="postData.category" name="category" required>
          <ion-select-option *ngFor="let c of categories" [value]="c.name">{{c.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="harassments">
        <ion-label>ハラスメント</ion-label>
        <ion-select interface="popover" placeholder="未設定" [(ngModel)]="postData.harassment" name="harassment" required>
          <ion-select-option *ngFor="let h of harassments" [value]="h.name">{{h}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>  
