.position-block-center {
  margin: 0 auto;
}

.position-flex-center {
  display: flex;
  justify-content: center;
}

.action-list-modal .modal-wrapper {
  --max-height: 300px
}

.add-list {
  color: #00a6a8;
}
