<ion-split-pane contentId="main-content">
  <ion-menu>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item (click)="logOut()" button="true">
          <ion-icon name="log-out" slot="start"></ion-icon>
          <ion-label>ログアウト</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <section id="main-content">
    <ion-tabs #myTabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="timeline" (click)="initTabStack($event)">
          <ion-icon name="home"></ion-icon>
          <ion-label>タイムライン</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="dictionary" (click)="initTabStack($event)">
          <ion-icon name="book"></ion-icon>
          <ion-label>辞書</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="quiz" (click)="initTabStack($event)">
          <ion-icon name="checkmark-circle"></ion-icon>
          <ion-label>クイズ</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="list" (click)="initTabStack($event)">
          <ion-icon name="bookmark"></ion-icon>
          <ion-label>リスト</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="other" (click)="initTabStack($event)">
          <ion-icon name="settings"></ion-icon>
          <ion-label>その他</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </section>

</ion-split-pane>