<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>その他</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center ion-padding">
    <ion-avatar style="display: inline-block;">
      <!-- <img [src]="photo || user.photoDataUrl || '/assets/shapes.svg'"> -->
    </ion-avatar>
  </div>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button *ngFor="let category of categories" [value]="category">
        <ion-label>
          {{category}}
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-list>
    <ng-container *ngIf="segment!=='設定'; else setting">
      <ion-item button *ngFor="let list of getList(segment)">
        {{segment==='My投稿' ? list.story : list.answer}}
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>

<ng-template #setting>
  <ion-item button (click)="openProfile()">プロフィール設定</ion-item>
  <ion-item button>アカウント設定</ion-item>
  <ion-item button>利用規約</ion-item>
  <ion-item button>プライバシーポリシー</ion-item>
  <ion-item button>退会手続き</ion-item>
  <ion-item button (click)="logOut()"><ion-icon name="log-out" slot="start"></ion-icon><ion-label>ログアウト</ion-label></ion-item>
</ng-template>
