<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalDismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>リスト作成</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm">
    <ion-item>
      <ion-label position="stacked">リスト名</ion-label>
      <ion-input name="name" [(ngModel)]="name" required></ion-input>
    </ion-item>

    <div class="position-flex-center">
      <ion-button type="submit" (click)="actionList(name)" [disabled]="!f.form.valid">作成</ion-button>
    </div>
  </form>
</ion-content>
