<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      タイムライン
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="一覧" [(ngModel)]="segment">
      <ion-segment-button *ngFor="let category of categories" [value]="category">
        <ion-label>
          {{category}}
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="page; else loading">
  <ion-list class="ion-padding-top">
    <ng-container *ngFor="let s of (stories$ | async); trackBy: trackByFn; index as i">
      <ion-item button *ngIf="segment==='一覧' || segment===s.category" lines="none" (click)="setPassInfo(s)" [routerLink]="s.storyId" routerDirection="forward">
        <ion-avatar slot="start">
          <ion-img [src]="s.user.photoDataUrl"></ion-img>
        </ion-avatar>
          <ion-label class="ion-padding ion-text-wrap" 
            style="background-color: var(--ion-color-light-tint); border-radius: 12px;"
            [class.ion-margin-end]="true">
            <ion-chip outline [color]="(checkDeadline(s.deadline) || s.bestAnswer) ? 'success' : 'warning'" *ngIf="s.type !== '閲覧のみ'">
              <ion-label>{{(checkDeadline(s.deadline) || s.bestAnswer) ? '解決済み' : '相談中'}}</ion-label>
            </ion-chip>
            <ion-button stopPropagation *ngIf="uid!==s.user.uid" [color]="checkReport(s.storyId) ? 'danger' : 'medium'" fill="clear" (click)="openReportModal(s.user.uid, s.storyId)" [disabled]="checkReport(s.storyId)">
              <ion-icon name="flag"></ion-icon>
            </ion-button>
            <div class="ion-text-nowrap"><strong>{{s.user.displayName}}</strong></div>
            {{s.story}}
            {{i}}
            <div class="action-list">
              <ion-button stopPropagation color="medium" fill="clear" (click)="!!searchList(s.storyId) ? deleteListStory(s.storyId) : openListAction(s.storyId)" [disabled]="uid===s.user.uid">
                <ion-icon [class.add-list]="!!searchList(s.storyId)" name="bookmark"></ion-icon>{{s.listCount}}
              </ion-button>
              <ion-button stopPropagation *ngIf="uid===s.user.uid" color="medium" fill="clear" (click)="openEditModal(s, s.storyId)">
                <ion-icon name="pencil-outline"></ion-icon>
              </ion-button>
              <ion-button stopPropagation *ngIf="uid===s.user.uid" color="medium" fill="clear" (click)="openDeleteAlert(s.storyId)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

  <ng-container *ngIf="storyCount < 8; else overThirty">
    <ion-infinite-scroll (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
  
  <ng-template #overThirty>
    <ion-infinite-scroll (ionInfinite)="alertThirty($event)">
      <ion-infinite-scroll-content 
        loadingSpinner="undefined">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openStoryPost()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #loading>
  <ion-content>  
    <ion-list>
      <ion-item *ngFor="let i of [1, 2, 3, 4, 5]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ng-template>