<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      タイムライン
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="ion-padding-top">
    <ion-item button lines="none" *ngFor="let s of stories; trackBy: trackByFn" (click)="setPassStory(s)" [routerLink]="s.storyId" routerDirection="forward">
      <ion-avatar slot="start">
        <ion-img [src]="s.user.photoDataUrl"></ion-img>
      </ion-avatar>
        <ion-label class="ion-padding ion-text-wrap" 
          style=
          "background-color: var(--ion-color-light-tint); border-radius: 12px;"
          [class.ion-margin-end]="true">
          <div class="ion-text-nowrap"><strong>{{s.user.displayName}}</strong></div>
          {{s.story}}
          <div class="action-list">
            <ion-button stopPropagation color="medium" fill="clear" (click)="searchList(s.storyId) ? deleteListStory(s.storyId) : openListAction(s.storyId)">
              <ion-icon [class.add-list]="searchList(s.storyId)" name="bookmark"></ion-icon>
            </ion-button>
            <ion-button stopPropagation *ngIf="uid === s.user.uid" color="medium" fill="clear" (click)="openStoryEdit(s, s.storyId)">
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
            <ion-button stopPropagation *ngIf="uid === s.user.uid" color="medium" fill="clear" (click)="openStoryDelete(s.storyId)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openStoryPost()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
