<ion-header>
  <ion-toolbar>
    <ion-title>利用規約</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>この利用規約（以下、「本規約」といいます。）は、Dicry運営事務局（以下、「当事務局」）が提供するサービス「Dicry」（以下、「本サービス」）の提供条件と、本サービスを利用するユーザに遵守していただくべき事項、当事務局とユーザとの間の権利義務関係が定められています。
  本サービスをユーザとして利用するには、本規約の全文をお読みいただいたうえで、本規約に同意していただく必要があります。</p>
  <dl>
    <dt>第1条（適用）</dt>
    <dd>本規約は、ユーザと当事務局との間の本サービスの利用に関わる一切の関係に適用されるものとします。</dd>

    <dt>第2条（本サービスの利用）</dt>
    <dd><ol>
      <li>本サービスのユーザは、本サービスを利用したことで、本利用規約の全ての記載内容に合意し義務を負うものとさせて頂きます。サービスを利用する際は、利用規約をお読みください。契約内容全てについて合意していただけない場合は、本サービスを利用することはできません。</li>
      <li>ユーザは、本規約の目的の範囲内でかつ本規約に違反しない範囲内で、当事務局の定める方法に従い、本サービスを利用することができます。</li>
      <!-- 2. 本サービスの利用は、メールアドレス、もしくはFacebookにおいて発行されたID及びパスワードによるユーザ登録が必要となります。 -->
      <li>ユーザは、登録されているプロフィール情報について、他のユーザが閲覧できることにあらかじめ了承するものとします。</li>
      <li>ユーザーは、本サービスより受け取る情報に広告が掲載される可能性があることに同意した上で、本サービスを利用します。</li>
      <li>当事務局はユーザの行動に対して責任を負いません。いかなる損失や損害に対して、責任を負いません。</li>
      <li>本サービスは、本規約のほか、適用される法令等を遵守している者に限り、利用することができるものとします。未成年の方は、保護者（法定代理人）から本サービスを利用する許可を得ていることを表明し、保証したものとみなします。</li>
      <li>当事務局は、会員のアカウントが当該会員以外の第三者によって利用された場合でも、当該会員による利用とみなすことができるものとします。</li>
      <li>本サービスの会員には無料の範囲内で利用する会員（以下「無料会員」といいます）と有料会員（以下「有料会員」といいます）が存在し、会員の種類によって閲覧可能なコンテンツ等、利用可能な機能が異なります（以下、無料会員と有料会員を併せて「会員」といいます）。</li>
      <li>当事務局は、ユーザが、以下の各号のいずれかの事由に該当する場合は、本サービスの利用を拒否することがあります。拒否をする場合には、その理由について当事務局は、一切の開示義務を負いません。</li>
      <ol>
        <li>当事務局に提供した登録事項の全部または一部につき虚偽、誤記または記載漏れがあった場合</li>
        <li>本規約に違反したことがある者からの申請である場合</li>
        <li>未成年者、成年被後見人、被保佐人または被補助人のいずれかであり、法定代理人、後見人、保佐人または補助人の同意等を得ていなかった場合</li>
        <li>反社会的勢力等（暴力団、暴力団員、右翼団体、左翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である、または資金提供その他を通じて反社会的勢力等の維持、運営もしくは経営に協力もしくは関与する等反社会的勢力等との何らかの交流もしくは関与を行っていると当事務局が判断した場合</li>
        <li>営業・採用活動やナンパ・勧誘行為等、本サービスの利用以外を目的とした登録申請であると当事務局が判断した場合</li>
        <li>その他、当事務局が登録を適当でないと判断した場合</li>
      </ol>
    </ol></dd>

    <dt>第3条（ID、メールアドレスおよびパスワードの管理）</dt>
    <dd><ol>
      <li>ID、メールアドレスおよびパスワードの管理は、会員自身の責任により行うものとし、自身が登録した自己の会員情報（アカウントに関する全ての権利、権益を含む。）をいかなる第三者に対しても譲渡および貸与ならびに共有してはならない。また、その他いかなる目的でも、自身が登録した自己の会員情報を第三者に使用させることはできない。</li>
      <li>前項の規定に違反した場合、当事務局は本サービス利用の停止および会員登録を解除することが出来るものとし、その時会員に与えられる不利益について、当事務局は一切の責任を負わない。また、当事務局はID、メールアドレスならびにパスワードの漏洩、不正利用などから生じた損害につき、一切補償しない。</li>
    </ol></dd>

    <dt>第4条（ユーザの責任）</dt>
    <dd><ol>
      <li>本サービスの提供を受けるために必要な機器、通信回線その他の通信環境等の準備及び維持は、ユーザの費用と責任において行うものとします。</li>
      <li>本サービス上においてユーザーが開示した、テキスト、音声、動画、画像および画像に付随する情報、個人情報や位置情報などを含む全ての情報に関する責任は、ユーザ各自にあります。従って、当事務局はユーザが本サービスにおいて開示した情報の内容について、一切の責任を負いません。ただし、当事務局は、本サービスを利用して投稿または編集された文章、画像、映像等を利用できるものとし、ユーザは、この利用に関して、著作者人格権を行使しないものとします。</li>
      <li>前項本文の定めるものを除き、本サービスおよび本サービスに関連する一切の情報についての著作権およびその他知的財産権はすべて当事務局または当事務局にその利用を許諾した権利者に帰属し、ユーザは無断で複製、譲渡、貸与、翻訳、改変、転載、公衆送信（送信可能化を含みます。）、伝送、配布、出版、営業使用等をしてはならないものとします。</li>
      <li>ユーザが他人の名誉を毀損した場合、プライバシー権を侵害した場合、著作権法に違反する行為を行った場合その他他人の権利を侵害した場合、当該ユーザは自身の責任と費用において解決しなければならず、当事務局は一切の責任を負いません。</li>
      <li>ユーザが開示した情報が原因となって迷惑を受けたとする者が現れた場合には、当該ユーザーは自身の責任と費用において解決しなければならず、当事務局は一切の責任を負いません。</li>
      <li>ユーザは、ユーザコンテンツを自らの判断と責任で閲覧、利用する事に同意します。</li>
      <li>ユーザーの皆様に快適にご利用頂くため、ユーザ・コメントについては、本規約に違反しており、かつ権利侵害・誹謗中傷・いやがらせ等を受けた本人からの通報があった場合、原則として事前通告なく削除いたします。</li>
      <li>ユーザは本サービスに会員登録するにあたり、以下の点を遵守するものとします。</li>
      <ol>
        <li>虚偽の個人情報を提供したり、許可を得ることなく他人のアカウントを作成したりすることはできません。</li>
        <li>個人用アカウントを複数作成することはできません。</li>
        <li>アカウントが当事務局によって停止された場合、当事務局の許可なく新たなアカウントを作成することはできません。</li>
        <li>アカウントの連絡先情報を、当事務局からのメールを必ず受け取ることができる状態に保つものとします。</li>
        <li>パスワードを共有したり、他人にアカウントへのアクセスを許可したり、その他、アカウントのセキュリティを脅かす恐れのある行為を行わないものとします。</li>
        <li>アカウントを他人に譲渡することはできません。</li>
        <li>アカウントのパスワードなどは、自己の責任において大切に保管し、機密を保持するものとします。ユーザーのアカウントが権限のない者により利用された形跡に気づいた場合、ただちに当事務局に通知するものとします。</li>
      </ol>
    </ol></dd>

    <dt>第5条（禁止事項）</dt>
    <dd>
      ユーザは、本サービスの利用にあたり、以下の行為をしてはなりません。
      <ol>
        <li>法令または公序良俗に違反する行為</li>
        <li>犯罪行為に関連する行為</li>
        <li>当事務局のサーバまたはネットワークの機能を破壊したり、妨害したりする行為</li>
        <li>当事務局のサービスの運営を妨害するおそれのある行為</li>
        <li>他のユーザに関する個人情報等を収集または蓄積する行為</li>
        <li>他のユーザに成りすます行為</li>
        <li>本利用規約に基づく権利もしくは義務を第三者に対し譲渡する行為</li>
        <li>当事務局のサービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為</li>
        <li>当事務局、本サービスの他の利用者または第三者の知的財産権、肖像権、プライバシー、名誉その他の権利または利益を侵害する行為</li>
        <li>過度に暴力的な表現、露骨な性的表現、人種、国籍、信条、性別、社会的身分、門地等による差別につながる表現、自殺、自傷行為、薬物乱用を誘引または助長する表現、その他反社会的な内容を含み他人に不快感を与える表現を、投稿または送信する行為</li>
        <li>営業、宣伝、広告、求人、勧誘、その他営利を目的とする行為（当事務局の認めたものを除きます。）、性行為やわいせつな行為を目的とする行為、面識のない異性との出会いや交際を目的とする行為、他のお客様に対する嫌がらせや誹謗中傷を目的とする行為、その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為</li>
        <li>宗教活動または宗教団体への勧誘行為</li>
        <li>その他、当事務局が不適切と判断する行為</li>
      </ol>
    </dd>

    <dt>第6条（本サービスの提供の停止等）</dt>
    <dd><ol>
      <li>当事務局は、以下のいずれかに該当すると判断した場合には、ユーザに事前に通知することなく、本サービスの利用の全部または一部を停止または中断することができるものとします。</li>
      <ol>
        <li>本サービスにかかるコンピューター・システムの点検または保守作業を定期的又は緊急に行う場合</li>
        <li>コンピューター、通信回線等が事故により停止した場合</li>
        <li>地震、落雷、火災、停電または天災などの不可抗力により本サービスの運営および提供ができなくなった場合</li>
        <li>その他、当事務局が停止又は中断を必要と判断した場合</li>
      </ol>
      <li>当事務局は、当事務局の都合により、本サービスの提供を終了することができます。この場合、当事務局はユーザに事前に通知するものとします。</li>
      <li>当事務局は、本条に基づき当事務局が行った措置に基づきユーザまたは第三者に生じた損害について一切の責任を負いません。</li>
    </ol></dd>

    <dt>第7条（利用制限および登録抹消）</dt>
    <dd><ol>
      <li>当事務局は、ユーザが、以下の各号のいずれかの事由に該当する場合は、事前に通知または催告することなく、ユーザについて本サービスの利用を一時的に停止し、またはユーザとしての登録を抹消、もしくはサービス利用契約を解除することができます。</li>
      <ol>
        <li>本規約のいずれかの条項に違反した場合</li>
        <li>登録事項に虚偽の事実があることが判明した場合</li>
        <li>当事務局からの問いあわせその他の回答を求める連絡に対して15日間以上応答がない場合</li>
        <li>1年間以上本サービスの利用がない場合</li>
        <li>その他、当事務局が本サービスの利用、ユーザとしての登録、またはサービス利用契約の継続を適当でないと判断した場合</li>
      </ol>
      <li>当事務局は、本条に基づき当事務局が行った行為によりユーザに生じた損害について一切の責任を負いません。</li>
    </ol></dd>

    <dt>第8条（保証の否認および免責事項）</dt>
    <dd><ol>
      <li>当事務局は、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。</li>
      <li>当事務局は、本サービスに起因してユーザに生じたあらゆる損害について一切の責任を負いません。ただし、本サービスに関する当事務局とユーザとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合、この免責規定は適用されません。</li>
      <li>前項ただし書に定める場合であっても、当事務局は、当事務局の過失（重過失を除きます。）による債務不履行または不法行為によりユーザに生じた損害のうち特別な事情から生じた損害（当事務局またはユーザが損害発生につき予見し、または予見し得た場合を含みます。）について一切の責任を負いません。また、当事務局の過失（重過失を除きます。）による債務不履行または不法行為によりユーザに生じた損害の賠償は、ユーザから当該損害が発生した月に受領した利用料の額を上限とします。</li>
      <li>ユーザが、本サービスを利用することにより、ユーザまたは第三者に対し不利益・損害を与えた場合、ユーザは自己の費用と責任においてこれを賠償するものとし、これらの一切の不利益・損害について当事務局は一切責任を負いません。</li>
    </ol></dd>

    <dt>第9条（退会）</dt>
    <dd><ol>
      <li>ユーザは，当事務局の定める退会手続により，本サービスから退会できるものとします。</li>
      <li>退会にあたり、当事務局に対して負っている債務が有る場合は、ユーザは、当事務局に対して負っている債務の一切について当然に期限の利益を失い、直ちに当事務局に対して全ての債務の支払を行わなければなりません。</li>
    </ol></dd>

    <dt>第10条（サービス内容の変更等）</dt>
    <dd><ol>
      <li>当事務局は、ユーザに事前に何ら通知することなく、当事務局の都合により、本サービスの内容を変更し、または提供を終了することができるものとします。</li>
      <li>当事務局は、本条に基づき当事務局が行った措置に基づきユーザおよび第三者に生じた損害について一切の責任を負いません。</li>
    </ol></dd>

    <dt>第11条（個人情報の取扱い）</dt>
    <dd>当事務局は，本サービスの利用によって取得する個人情報については，当事務局「プライバシーポリシー」に従い適切に取り扱うものとします。</dd>

    <dt>第12条（利用規約の変更）</dt>
    <dd>当事務局は、必要と判断した場合には、ユーザに通知することなくいつでも本規約を変更することができるものとします。</dd>

    <dt>第13条（通知または連絡）</dt>
    <dd>本サービスに関する問い合わせその他ユーザから当事務局に対する連絡または通知、および本規約の変更に関する通知その他当事務局からユーザに対する連絡または通知は、当事務局の定める方法で行うものとします。</dd>

    <dt>第14条（サービス利用契約上の地位の譲渡等）</dt>
    <dd><ol>
      <li>ユーザは、当事務局からの書面による事前の承諾なく、サービス利用契約上の地位または本規約に基づく権利もしくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。</li>
      <li>当事務局は、本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴いサービス利用契約上の地位、本規約に基づく権利及び義務並びにユーザの登録事項その他の顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、ユーザは、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。</li>
    </ol></dd>

    <dt>第15条（分離可能性）</dt>
    <dd>本規約のいずれかの条項、またはその一部が、消費者契約法その他の法令等により無効または執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効または執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。</dd>

    <dt>第16条（準拠法・裁判管轄）</dt>
    <dd>本規約の準拠法は日本法とし、本規約に起因しまたは関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</dd>

    <dt>附則</dt>
    <dd>
      <ul>
        <li>2020年</li>
      </ul>
    </dd>
  </dl>
</ion-content>
