<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      子要素
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  fullscreen>
  <ion-list>
    <ion-item button *ngFor="let variation of variations" (click)="navigateShow(variation.harassmentId)">
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
      <ion-label>
        {{variation.name}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>